.services {
    font-family: "PT Sans Caption", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .071);
}

.container {
    max-width: 1564px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
}

.services-description {
    font: 17px / 28px "PT Sans Caption", Arial, sans-serif;
    
}

h2 {
    font-size: 2em;
    font-weight: 500;
    line-height: calc(1em + 14px);
    margin: 30px 0 25px;
    letter-spacing: normal;
}

ul {
    margin-top: 0;
    margin-bottom: 20px;
}

ul li {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 8px;
}

li {
    line-height: 24px;
}

li:before {
    content: "";
    position: relative;
    left: 0px;
    top: 11px;
    background: #666666;
    width: 11px;
    height: 1px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}