.services-container {
    font-family: "PT Sans Caption", Arial, sans-serif;
    margin-top: 0px;
}

.services {
    text-align: left;
}

h2 {
    line-height: calc(1em + 14px);
    margin: 30px 0 25px;
    letter-spacing: normal;
}

ul li {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 8px;
}

li {
    line-height: 24px;
}

code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}