.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1564px;
    width: 100%;
    height: 786px;
    padding-left: 32px;
    padding-right: 32px;
}

.about-wrapper {
    display: flex;
	margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: left;
}

.about-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}

.about-title-wrapper {
    font-family: "Montserrat", Arial, sans-serif;
    width: 50%;
    font-weight: 500;
    font-size: 80px;
    line-height: 90px;
    margin: 0px;
    color: #333;
}

.about-title-description-wrapper {
    width: 50%;
    font-size: 1.2em;
    line-height: 28px;
    color: #666;
}

@media (max-width: 1450px) {
    .about {
        height: 656px;
    }
    .about-title-description-wrapper {
        width: 50%;
    }
}

@media (max-width: 1280px) {
    .about {
        width: 1280px;
    }
    .about-title-wrapper {
        width: 100%;
        font-size: 56px;
        line-height: 66px;
    }
    .about-title-description-wrapper {
        font-size: 15px;
        line-height: 25px;
        width: 55%;
    }
}

@media (max-width: 1024px) {
    .about {
        width: 1024px;
    }
}

@media (max-width: 1000px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 992px) {
    .about {
        width: 992px;
    }
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .career-block {
        align-self: center;
    }
}

@media (max-width: 768px) {
    .about {
        width: 768px;
    }
    .about-title-description-wrapper {
        margin-top: 21px;
    }
    .about-title-description-wrapper {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .about-title-description-wrapper {
        margin-top: 21px;
    }
}

@media (max-width: 600px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .about {
        height: 400px;
    }
    .about-title-wrapper {
        font-size: 20px;
        line-height: 30px;
    }
    .about-title-description-wrapper {
        font-size: 14px;
        line-height: 24px;
        width: 52%;
    }
}

@media (max-width: 425px) {
    .about {
        width: 425px;
    }
    .about-title-description-wrapper {
        width: 70%;
    }
}

@media (max-width: 375px) {
    .about {
        width: 375px;
    }
    .about-title-description-wrapper {
        width: 79%;
    }
}

@media (max-width: 320px) {
    .about {
        width: 320px;
    }
    .about-title-description-wrapper {
        width: 80%;
    }
}