/* Nav */

.nav {
	display: flex;
	padding: 14px;
	width: 100%;
	border-bottom: 1px solid;
}

.nav-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	row-gap: 10px;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__items {
	display: flex;
	width: 80vh;
	justify-content: center;
	gap: 30px;
}

.link-tel-nav-list {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

